<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta name="keywords" content="平安普惠信任贷款">
    <meta name="author" content="平安普惠信任贷款  -- by mr-six">
    <meta name="description" content="平安普惠信任贷款">
    <title>平安普惠信任贷款</title>
    <link rel="stylesheet" href="http://cdn.staticfile.org/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/main.css">
    <link rel="stylesheet" href="dist/pingan.css">
    <style>
      
    </style>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7f0fceab1740a57aa1c2633ba268bd7e";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>


  </head>
  <body>
    <!-- 微信分享图标 -->
    <div style="display:none;">
      <img src="src/img/share.jpg">
    </div>

    <!-- loading -->
    <div class="content loading bl">
      <div class="loader ab-c">
        <div class="loading1"></div>
        <div class="loading2">Loading...</div>
      </div>
    </div>
    
    <!-- 布局规则 -->

    <!-- 第1页 -->
    <div class="page1 page re bl">
      <img src="./src/img/co-bg0.jpg" alt="">
      <div class="ab" style="top: 10%;">
        <img class="mypulse" src="./src/img/index/yang.png" alt="">
      </div>
      <div class="ab" style="bottom: 12%;">
        <img class="myswing-de2" src="./src/img/index/fuzi.png" alt="">
      </div>
      <div class="ab" style="bottom: 0;">
        <img class="myswing-de" src="./src/img/index/munv.png" alt="">
      </div>
      <div class="ab" style="bottom: 25%;">
        <img class="myswing" src="./src/img/index/ye.png" alt="">
      </div>
      <div class="ab" style="top: 20%;">
        <img class="slideInDown animated" src="./src/img/index/jieli.png" alt="">
      </div>
      <div class="ab" style="top: 35%;">
        <img class="slideInRight animated" src="./src/img/index/gudu.png" alt="">
      </div>
    </div>

    <!-- 第2页 -->
    <div class="page2 page re">
      <img src="./src/img/co-bg1.jpg" alt="">
      <div class="ab" style="top: 20%;">
        <img src="./src/img/page2/text.png" alt="">
      </div>
      <div class="ab" style="bottom: 13%;">
        <img src="./src/img/page2/fuzi.png" alt="">
      </div>
      <div class="ab" style="bottom: 2%;">
        <img src="./src/img/page2/btn.png" alt="">
        <div class="show_next ab" style="background: transparen; display: inline-block; width: 6rem;height: 2.5rem; top: 2.6rem; left: 40%;"></div>
      </div>
      <div class="ab" style="bottom: 25%;">
        <img src="./src/img/index/ye.png" alt="">
      </div>
    </div>

    <!-- 第3页 -->
    <div class="page3 page re">
      <img src="./src/img/co-bg2.jpg" alt="">
      <div class="ab" style="top: 13%;">
        <img src="./src/img/page2/yuangong.png" alt="">
        <div class="ab yuangong shenfen" style="background: transparen; display: inline-block; width: 60%;;height: 15%; top: 29%; left: 20%;"></div>
        <div class="ab yuangong shenfen" style="background: transparen; display: inline-block; width: 60%;;height: 15%; top: 63%; left: 20%;"></div>
      </div>
      <div class="ab" style="bottom: 15%;">
        <img src="./src/img/page2/queding.png" alt="">
        <div class="show_next ab" style="background: transparen; display: inline-block; width: 6rem;height: 2.5rem; top: 1rem; left: 22%;"></div>
        <div class="back ab" style="background: transparen; display: inline-block; width: 6rem;height: 2.5rem; top: 1rem; right: 25%;"></div>
      </div>
    </div>

    <!-- 第4页 -->
    <div class="page4 page re">
      <img src="./src/img/co-bg2.jpg" alt="">
      <div class="ab" style="top: 25%;">
        <img src="./src/img/page2/wolu.png" alt="">
        <div class="show_next ab" style="background: transparen; display: inline-block; width: 55%;height: 5.5rem; top: 0.5%; left: 22%;"></div>
        <div class="wolu ab" style="background: transparen; display: inline-block; width: 55%;height: 5.5rem; bottom: 0.7%; left: 22%;"></div>
      </div>
      <div class="ab" style="bottom: 10%;">
        <img src="./src/img/page2/child.png" alt="">
      </div>
    </div>

    <!-- 第5页 多录音页-->
    <div class="page5 page re">
      <img src="./src/img/co-bg2.jpg" alt="">
      <div class="ab" style="top: 15%; width: 100%; height: 100%;">
        <div class="video-container" style="width: 70%; max-height: 60%; overflow: auto;">
          <div class="server-vioce">
            
          </div>
          <div class="video-box" data-uid="chenzong">
            <img class="btn1 local" src="./src/img/page2/v-btn.jpg" alt="">
            <img class="btn2 local" src="./src/img/page2/v-btn2.jpg" alt="">
            <div class="hide">
              <audio class="voice" preload="metadata" loop src="src/mp3/陈总-题西林壁.mp3">
              </audio>
            </div>
            <div class="user-name">
              <p>陈总-题西林壁</p>
              <!-- <img src="" alt=""> -->
              <p class="waves">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
              </p>
            </div>
            <div class="likes">
              <p class="nub">82</p>
              <i class="fa fa-heart" style="font-size: 2rem; color: #f94d69;" aria-hidden="true"></i>
              <i class="fa fa-heart-o" style="font-size: 2rem; color: #fff;" aria-hidden="true"></i>
            </div>
          </div>
          <div class="video-box" data-uid="nizong">
            <img class="btn1 local" src="./src/img/page2/v-btn.jpg" alt="">
            <img class="btn2 local" src="./src/img/page2/v-btn2.jpg" alt="">
            <div class="hide">
              <audio class="voice" preload="metadata" loop src="src/mp3/倪总-小池.mp3">
              </audio>
            </div>
            <div class="user-name">
              <p>倪总-小池</p>
              <!-- <img src="" alt=""> -->
              <p class="waves">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
              </p>
            </div>
            <div class="likes">
              <p class="nub">72</p>
              <i class="fa fa-heart" style="font-size: 2rem; color: #f94d69;" aria-hidden="true"></i>
              <i class="fa fa-heart-o" style="font-size: 2rem; color: #fff;" aria-hidden="true"></i>
            </div>
          </div>
          <div class="video-box" data-uid="xuzong">
            <img class="btn1 local" src="./src/img/page2/v-btn.jpg" alt="">
            <img class="btn2 local" src="./src/img/page2/v-btn2.jpg" alt="">
            <div class="hide">
              <audio class="voice" preload="metadata" loop src="src/mp3/徐总-安慰.mp3">
              </audio>
            </div>
            <div class="user-name">
              <p>徐总-安慰</p>
              <!-- <img src="" alt=""> -->
              <p class="waves">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
              </p>
            </div>
            <div class="likes">
              <p class="nub">53</p>
              <i class="fa fa-heart" style="font-size: 2rem; color: #f94d69;" aria-hidden="true"></i>
              <i class="fa fa-heart-o" style="font-size: 2rem; color: #fff;" aria-hidden="true"></i>
            </div>
          </div>  
          <div class="video-box" data-uid="chuzong">
            <img class="btn1 local" src="./src/img/page2/v-btn.jpg" alt="">
            <img class="btn2 local" src="./src/img/page2/v-btn2.jpg" alt="">
            <div class="hide">
              <audio class="voice" preload="metadata" loop src="src/mp3/邹总-你不快乐的每一天都不是你的.mp3">
              </audio>
            </div>
            <div class="user-name">
              <p>邹总-你不快乐的每一天都不是你的</p>
              <!-- <img src="" alt=""> -->
              <p class="waves">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
              </p>
            </div>
            <div class="likes">
              <p class="nub">66</p>
              <i class="fa fa-heart" style="font-size: 2rem; color: #f94d69;" aria-hidden="true"></i>
              <i class="fa fa-heart-o" style="font-size: 2rem; color: #fff;" aria-hidden="true"></i>
            </div>
          </div>  
        </div>
      </div>
      <div class="ab" style="bottom: 20%;">
        <img src="./src/img/page2/slider.png" alt="">
      </div>
      <div class="ab" style="bottom: 10%;">
        <img src="./src/img/page2/wo.png" alt="">
        <div class="show_next ab" style="background: transparen; display: inline-block; width: 11rem;height: 4rem; top: 0.5rem; left: 32%;"></div>
      </div>
    </div>

    <!-- 第6页 录音页 -->
    <div class="page6 page re">
      <img src="./src/img/co-bg2.jpg" alt="">
      <div class="ab" style="top: 25%; width: 100%;">
        <div id="shi">
          <div data-shi="登黄鹤楼" class="shiming">
            <p class="title">登黄鹤楼</p>
            <p class="zuozhe">作者：王之涣</p>
            <p>白日依山尽，</p>
            <p>黄河入海流。</p>
            <p>欲穷千里目，</p>
            <p>更上一层楼。</p>
          </div>

        </div>
      </div>
      <div class="ab" style="top: 45%;">
        <img src="./src/img/page2/cbtn.png" alt="">
        <div class="shic prev ab" style="background: transparen; display: inline-block; width: 4rem;height: 2.5rem; top: 0; left: 15%;"></div>
        <div class="shic next ab" style="background: transparen; display: inline-block; width: 4rem;height: 2.5rem; top: 0; right: 15%;"></div>
      </div>
      <div class="ab" style="bottom: 25%; width: 100%;">
        <div class="text-center" style="width: 100%; padding: 0 20%; margin: 0 auto;">
          <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped active" id="process" style="width: 100%;">
                <div class="progress-value" id="v_time">30秒</div>
              </div>
            </div>
        </div>
      </div>
      <div class="ab" style="bottom: 5%; text-align: center;">
        <img src="./src/img/page2/vioce.png" alt="">
        <p>按住录音</p>
        <div class="ab" id="luyin" style="background: transparen; display: inline-block; width: 6rem;height: 6rem; top: 0; right: 40%;"></div>
      </div>
    </div>
    
    <!-- 第7页 -->
    <div class="page7 page re">
      <img src="./src/img/co-bg7.jpg" alt="">
      <div class="ab" style="top: 45%; width: 100%;">
        <div class="video-container" style="width: 70%; max-height: 60%; overflow: auto;">
          <div class="video-box myvideo">
            <img class="btn1" src="./src/img/page2/v-btn.jpg" alt="">
            <img class="btn2" src="./src/img/page2/v-btn2.jpg" alt="">
            <div class="user-name">
              <p><%= user.name %>-<span id="meshi"></span></p>
              <p class="hide">
                <span id="usreid"><%= user.userid %></span>
                <span id="usercity"><%= user.city %></span>
                </p>
              <!-- <img src="" alt=""> -->
              <p class="waves">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
              </p>
            </div>
            <div class="likes">
              <p class="nub">6666</p>
              <i class="fa fa-heart" style="font-size: 2rem; color: #f94d69;" aria-hidden="true"></i>
              <i class="fa fa-heart-o" style="font-size: 2rem; color: #fff;" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="wolu ab" style="background: transparen; display: inline-block; width: 7rem;height: 4rem; bottom: 27%; right: 20%;"></div>
      <div class="ab upload" style="background: transparen; display: inline-block; width: 7rem;height: 4rem; bottom: 27%; left: 16%;"></div>
    </div>

    <!-- 第8页 -->
    <div class="page8 page re">
      <img src="./src/img/co-bg2.jpg" alt="">
      <div class="ab" style="top: 23%;">
        <img src="./src/img/page2/gongxi.png" alt="">
      </div>
      <div class="ab" style="bottom: 22%;">
        <img src="./src/img/page2/fenxing.png" alt="">
        <div class="share-btn ab" style="background: transparen; display: inline-block; width: 9rem;height: 3.5rem; top: 0; left: 36%;"></div>
      </div>
      <div class="ab" style="bottom: 10%;">
        <img src="./src/img/page2/fanhui.png" alt="">
        <div class="btn-end ab" style="background: transparen; display: inline-block; width: 9rem;height: 3.5rem; top: 0; left: 36%;"></div>
      </div>
      <div class="ab text-center" style="top: 40%; width: 100%">
        <div style="font-size: 2.5rem;">
          <p>成功送出</p>
          <p>第23333条祝福。</p>
        </div>
      </div>
    </div>
    
    <!-- 第9页 我的录音页-->
    <div class="page9 page re">
      <img src="./src/img/co-bg2.jpg" alt="">
      <div class="ab" style="top: 12%;">
        <img src="./src/img/page2/ref.png" alt="">
        <div class="ref ab" style="background: transparen; display: inline-block; width: 3rem;height: 3rem; top: 0; right:16%;"></div>
      </div>
      <div class="ab" style="top: 18%; width: 100%; max-height: 60%;">
        <div class="video-container" style="width: 70%; max-height: 60%; overflow: auto;">
          <div class="video-box myvideo">
            <img class="btn1" src="./src/img/page2/v-btn.jpg" alt="">
            <img class="btn2" src="./src/img/page2/v-btn2.jpg" alt="">
            <div class="user-name">
              <p><span id="uname"><%= user.name %></span>-<span id="ushi">祝福</span></p>
              <!-- <img src="" alt=""> -->
              <p class="waves">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
              </p>
            </div>
            <div class="likes">
              <p class="nub"><%= user.ups %></p>
              <i class="fa fa-heart" style="font-size: 2rem; color: #f94d69;" aria-hidden="true"></i>
              <i class="fa fa-heart-o" style="font-size: 2rem; color: #fff;" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="ab" style="top: 35%;">
        <img src="./src/img/page2/slider.png" alt="">
      </div>

      <div class="ab" style="bottom: 5%; width: 100%; height: 50%;">
        <div class="video-container" style="width: 70%; max-height: 100%; overflow: auto;">
          
        </div>
      </div>
    </div>

    <!-- 第10页 -->
    <div class="page10 page re">
      <img src="./src/img/co-gb10.jpg" alt="">
      <div><a class="ab" style="display: inline-block; bottom: 20%; width: 60%; height: 5%; left: 20%; background: transparent;" href="https://www.ph.com.cn/index.shtml"></a></div>
    </div>





    <!-- 分享提示 -->
    <div class="content share share-btn hide">
      <img src="src/img/page2/sharetip.png" alt="">
    </div>


    <script src="https://cdn.staticfile.org/zepto/1.2.0/zepto.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="dist/build.js"></script>
    <script src="dist/pingan.js"></script>  

    <script>
      var voice = {}
      var u_shi = '祝福诗'
      var timer // 计时器
      $('#luyin').on('touchstart', function(event){
        var btn = $(this)
        var tips = btn.siblings('.tips')
        if ($(this).hasClass('recording')) return
        event.preventDefault();
        START = new Date().getTime();

        recordTimer = setTimeout(function(){
          btn.addClass('recording')
          wx.startRecord({
              success: function(){
                localStorage.rainAllowRecord = 'true';
                _dao() // 倒计时
                tips.html('再次点击完成录音')
              },
              cancel: function () {
                alert('用户拒绝授权录音');
              }
          });
        },300);
      });

      //点击结束录音
      $('#luyin').on('touchend', function(event){
        var tips = $(this).siblings('.tips')
        if (!$(this).hasClass('recording')) return
        event.preventDefault();
        END = new Date().getTime();
        
        if((END - START) < 300){
            END = 0;
            START = 0;
            //小于300ms，不录音
            clearTimeout(recordTimer);
        }else{
          wx.stopRecord({
            success: function (res) {
              var shi = $('.shiming').data('shi')
              voice.localId = res.localId;
              clearTimeout(timer)
              show_next() // 跳转到下一页
              $('#meshi').html(shi)
              
            },
            fail: function (res) {
              alert(JSON.stringify(res));
            }
          });
        }
      });

      //上传录音
      function uploadVoice(){
        //调用微信的上传录音接口把本地录音先上传到微信的服务器
        //不过，微信只保留3天，而我们需要长期保存，我们需要把资源从微信服务器下载到自己的服务器
        wx.uploadVoice({
          localId: voice.localId, // 需要上传的音频的本地ID，由stopRecord接口获得
          isShowProgressTips: 1, // 默认为1，显示进度提示
          success: function (res) {
            voice.serverId = res.serverId
            show_next() // 跳转到下一页
            console.log(voice)
            // 上传数据库逻辑
            uploadInfo()
          }
        });
      }

      // 播放自己的录音
      $('.myvideo.video-box .btn1').on('touchstart', function(event){
        wx.playVoice({
          localId: voice.localId // 需要播放的音频的本地ID，由stopRecord接口获得
        });
      })
      // 暂停自己的录音
      $('.myvideo.video-box .btn2').on('touchstart', function(event){
        wx.pauseVoice({
          localId: voice.localId // 需要暂停的音频的本地ID，由stopRecord接口获得
        });
      })

      // 上传自己的录音
      $('.upload').on('click', function(event) {
        event.preventDefault();
        uploadVoice()
      });

      wx.onVoiceRecordEnd({
        // 录音时间超过一分钟没有停止的时候会执行 complete 回调
        complete: function (res) {
          voice.localId = res.localId; 
        }
      })

      window.wxshare.config({
        title: '信任接力，成长不孤独',
        desc:  $('#uname').html() + '为山区希望小学的孩子们录了一首“' + u_shi +'”，你也来听听吧~',
        link: 'http://hh5.wechat2016.com/',
        imgUrl: 'http://hh5.wechat2016.com/src/img/share.jpg'
      });

      // 用户数据上传逻辑
      function uploadInfo () {
        var user = {
          nickname: $('#uname').html(),
          useid: $('#usreid').html(),
          city: $('#usrcity').html(),
          ups: 0,
          voice: voice.serverId,
          shi: u_shi,
          time: (new Date()).toLocaleString(),
          back: 'back'
        }

        $.ajax({
          type: 'POST',
          url: '/user',
          data: JSON.stringify(user),
          contentType: 'application/json',

          // 成功发送
          success: function(data){
            layer.open({
              content: '提交成功'
              ,skin: 'msg'
              ,time: 2 //2秒后自动关闭
            })
          },

          // 相应出错
          error: function(xhr, type){
            layer.open({
              content: '网络错误'
              ,skin: 'msg'
              ,time: 2 //2秒后自动关闭
            })
          }
        })
      }
      // 加载服务资源数据
      function loadservre () {
        $.ajax({
          type: 'GET',
          url: '/getuser',
          success: function(data){
            var row = ''
            if (data && ($.type(data) == 'array')) {
              data.forEach(function (el, index) {
                if (!el.voice)  return
                row += '<div class="video-box" data-uid="' + el.useid + '" data-voice="'+ el.voice +'"> \
                  <img class="btn1 local" src="./src/img/page2/v-btn.jpg" alt=""> \
                  <img class="btn2 local" src="./src/img/page2/v-btn2.jpg" alt="">  \
                  <div class="user-name"> \
                    <p>' + el.nickname + '-' + el.shi + '</p> \                    
                    <p class="waves"> \
                      <i></i> \
                      <i></i> \
                      <i></i> \
                      <i></i> \
                      <i></i> \
                      <i></i> \
                      <i></i> \
                      <i></i> \
                      <i></i> \
                      <i></i> \
                    </p> \
                  </div> \
                  <div class="likes"> \
                    <p class="nub"> \
                    ' + el.ups + '</p> \
                    <i class="fa fa-heart" style="font-size: 2rem; color: #f94d69;" aria-hidden="true"></i> \
                    <i class="fa fa-heart-o" style="font-size: 2rem; color: #fff;" aria-hidden="true"></i>\
                  </div> \
                </div>'
              })
            }
            $('.server-vioce').append(row)
          },
          error: function(xhr, type) {
            console.log(type)
          }
        })
      }


    </script>
  </body>
</html>
